<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395377255414-mu0ckof7q7ob18qg4hfche3nkucu6ea3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395377255414-mu0ckof7q7ob18qg4hfche3nkucu6ea3</string>
	<key>API_KEY</key>
	<string>AIzaSyAwk0-NooHNVhLynGqI08ELUieJok9zpg8</string>
	<key>GCM_SENDER_ID</key>
	<string>395377255414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photon.medline</string>
	<key>PROJECT_ID</key>
	<string>medline-digitalskinhealt-594b6</string>
	<key>STORAGE_BUCKET</key>
	<string>medline-digitalskinhealt-594b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395377255414:ios:6343f4dccb5bf8e82a9dd7</string>
</dict>
</plist>