//
//  Development.xcconfig
//  Medline-DigitalSkinHealth
//
//  Copyright © 2021 Photon. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-Medline-DigitalSkinHealth/Pods-Medline-DigitalSkinHealth.development.xcconfig"

PRODUCT_NAME = Medline Digital Skin Health
PRODUCT_VERSION = 1.0
BASE_URL = https:\/\/devdshpapiservice.azure-api.net/Dev-DSHP-API/
IS_LOGGING_ENABLED = YES
SUBSCRIPTION_KEY = 632f72f7614148fc900dcd209493485c
USERACTIVATION_URL = https:\/\/devdshpstorage.z19.web.core.windows.net/useractivation
USERPASSWORDRESET_URL = https:\/\/devdshpstorage.z19.web.core.windows.net/resetpassword
