//
//  Production.xcconfig
//  Medline-DigitalSkinHealth
//
//  Copyright © 2021 Photon. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Medline-DigitalSkinHealth/Pods-Medline-DigitalSkinHealth.production.xcconfig"

PRODUCT_NAME = Medline Digital Skin Health
PRODUCT_VERSION = 1.0
BASE_URL = https:\/\/dshpapiservice.azure-api.net/DSHP-API/
IS_LOGGING_ENABLED = NO
SUBSCRIPTION_KEY = 9d606bafffc9477d94ed6cf39be4341a
USERACTIVATION_URL = https:\/\/dshpstorage.z19.web.core.windows.net/useractivation
USERPASSWORDRESET_URL = https:\/\/dshpstorage.z19.web.core.windows.net/resetpassword
